
body{
    margin:0;
    padding:0; 
    
}
.back-ground-img{
    height:300px;
    width:100%;
    background-image:url("../images/misc/back.jpg");
    background-size:cover; 
    background-repeat: no-repeat;
}

img{
    height:160px;
    width: 160px;
    border-radius:50%; 
}

.circles{
    height:300px;
    width:100%;
    background-color:burlywood;
    margin: 0% 
    
}
.space{
    height:20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #C1343F;
  }

